
	{{burger_name}}

	<button class="change-devoured btn btn-outline-dark" data-id="{{id}}" data-newdevoured="{{devoured}}">
		EAT
	</button>

	<button class="delete-burger btn btn-outline-dark" data-id="{{this.id}}">DELETE!</button>

